*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  
}
.progressbar{
  height:20px;
  width:600px;
  background-color: rgb(231, 228, 228);
  border-radius: 15px;
  overflow: hidden;
}
.progress{
  /* height: 100%; */
  /* width: 0%; */
  background-color: rgb(20, 148, 14);
  transition: all .3s linear;
  text-align: center;
  color:white;}


